services:
    - App\Router\RouterFactory::createRouter
    - App\Model\PostFacade
    - App\Forms\FormFactory
    - App\Forms\SignInFormFactory
    - App\Forms\SignUpFormFactory

    # Hlavní autentizátor pro klasické přihlášení
    - App\Model\UserFacade

    security.user:
        setup:
            - setAuthenticator(@App\Model\UserFacade) # Nastavení výchozího autentizátoru
