{block content}
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-6">
            <h1 class="text-center mb-4">Úprava komentáře</h1>

            {control editCommentForm}
        </div>
    </div>
{/block}
