<div>
    <p><img src="cid:{$cid}" alt="Embedded Image" width="100px" height="100px"></p>
    <p>Díky za objednávku</p>

    <ul>
        <li>Jméno: {$name}</li>
        <li>Obsah: {$description}</li>
        <li>Vybraná možnost: {$selection}</li>
    </ul>
</div>
